@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;
@Include("../../includes/razor/getimage.cshtml")




@{
    List<LoopItem> lists = GetLoop("Lists");

    string pageId = Pageview.Page.ID.ToString(),
           paragraphId = Dynamicweb.Frontend.PageView.Current().CurrentParagraph.ID.ToString(),
           imagesFolder = "/Files/Files/" + designName + "/Products/",
           type = "",
           path = "/Default.aspx?ID=" + pageId,
           manageUrl = path + "&showLists=true";
}



@if(GetString("Ecom:CustomerCenter.ProductList.Mode").Contains("create")){
  type = "create";
  @Include("Includes/createList.cshtml")
}
else if(GetString("Ecom:CustomerCenter.ProductList.Mode").Contains("edit")){
  type = "edit";
  @Include("Includes/editList.cshtml")
}
else if(!string.IsNullOrEmpty(System.Web.HttpContext.Current.Request.QueryString["showLists"])){
  type = "showLists";
  @Include("Includes/showLists.cshtml")
}
else{
  <div class="row">
     <header class="col-xs-12" data-noproducts='@Translate("noFavoritesFound", "No favorites found.")'>
    <div class="row">

      @if(lists.Any()) {
        string myListName = "CC" + Pageview.CurrentParagraph.ID,
      listId = !string.IsNullOrEmpty(System.Web.HttpContext.Current.Request.QueryString["ListID"]) ? System.Web.HttpContext.Current.Request.QueryString["ListID"] : "" ;
      

        <form id="changeList" class="DMForms" actions="/" method="GET" name="lists">
          <input type="hidden" name="ID" value="@pageId" />
          <input type="hidden" name="@myListName" value="MyLists" />

          <select name="ListID" class="form-style">
            <option value="">@Translate("allLists", "All lists")</option>
            @SnippetStart("Lists")
              @foreach (LoopItem list in lists){
                string name = !string.IsNullOrEmpty(list.GetString("Ecom:CustomerCenter.List.Name")) ? list.GetString("Ecom:CustomerCenter.List.Name") : Translate("Default list"),
                       editURL = list.GetString("Ecom:CustomerCenter.List.EditURL");
                string[] editURLArr = new string[] {"ListID="},
                         words = editURL.Split(editURLArr, StringSplitOptions.RemoveEmptyEntries);
                string selected = listId == words[1].ToString() ? "selected" : "" ;

                <option @selected value="@words[1].ToString()">@name</option>
              }
            @SnippetEnd("Lists")
            @RenderSnippet("Lists")
          </select>
        </form>
      }

      <a class="btn btn-bg" href="@GetString("Ecom:CustomerCenter.List.AddURL")">@Translate("newWishlist","New Wish list")</a>
      <a class="btn btn-bg" href="@manageUrl">@Translate("manageWishlist","Manage Wish lists")</a>
    </div>
  </header>
  </div>
 

  if(lists.Any()){
   
    <div class="row">
      <div  id="productsList" class="product-list product-list--list product-list--wishlist clearfix">
        
          
        @{ int row = 1; }
        @foreach(LoopItem list in lists) {
        
            List<LoopItem> products = list.GetLoop("Ecom:CustomerCenter.List.ProductsList");

            if (products.Any()) {
               
                foreach (LoopItem product in products) {
                    string imagePattern = imagesFolder + product.GetString("Ecom:Product.Number") + ".jpg",
                           imageString = !string.IsNullOrEmpty(product.GetString("Ecom:Product.ImageSmall.Clean")) ? product.GetString("Ecom:Product.ImageSmall.Clean") : !string.IsNullOrEmpty(product.GetString("Ecom:Product.ImageMedium.Clean")) ? product.GetString("Ecom:Product.ImageMedium.Clean") : !string.IsNullOrEmpty(product.GetString("Ecom:Product.ImageLarge.Clean")) ? product.GetString("Ecom:Product.ImageLarge.Clean") : imagePattern,
                           productName = product.GetString("Ecom:Product.Name"),
                           productNumber = product.GetString("Ecom:Product.Number"),
                           productLanguageID = product.GetString("Ecom:Product.LanguageID"),
                           groupId = product.GetString("Ecom:Product.PrimaryOrFirstGroupID"),
                           productId = product.GetString("Ecom:Product.ID"),
                           productVariantId = product.GetString("Ecom:Product.VariantID"),
                           productVariantText = product.GetString("Ecom:Product.DefaultVariantComboName"),
                           productShortDescription = product.GetString("Ecom:Product.ShortDescription"),
                           link = product.GetString("Ecom:Product.Link.Clean.PID"),
                           productQuantity = product.GetString("Ecom:CustomerCenter.FavoriteList.Product.Quantity"),
                           productIncrementQuantityLink = product.GetString("Ecom:CustomerCenter.FavoriteList.Product.Quantity.IncrementLink"),
                           productDecrementQuantityLink = product.GetString("Ecom:CustomerCenter.FavoriteList.Product.Quantity.DecrementLink"),
                           removeFromList = product.GetString("Ecom:Product.RemoveProductFromList") + "&ListID=";
                      var catalog = Jayco.eCommerce.GroupFacade.GetCatalog(groupId);
       
                      string linkOfFavorite = "/Default.aspx?ID=124?catalog=" + catalog.Name + "&bookmark=" + groupId + "&favorite=" + productId;




                    int linkIndex = link.IndexOf("Layout");
                    if (linkIndex > 0) {
                        link = link.Substring(0, linkIndex);
                    }
        
                   
                    <div class="item">
                      
                        <div class="row">
                          <div class="col-xs-5">
                            <div class="media">
                              <div class="media-left">
                                <a href="@linkOfFavorite">
                                  <img src="@GetImage(imageString, 400, 0)" alt="@productName" title="@productName" class="media-object img-responsive" />
                                </a>
                              </div>
                              <div class="media-body">
                                <h2 class="title">
                                  <a itemprop="name" href="@linkOfFavorite">@productName</a>
                                  @if(!string.IsNullOrEmpty(productVariantText)) {
                                    <br/>
                                    <span>@productVariantText</span>
                                   }
                                </h2>
                                @if(!string.IsNullOrEmpty(productShortDescription)) {
                                  <div class="tileHide shortDescription">
                                    @productShortDescription
                                  </div>
                                }
                                @if(!string.IsNullOrEmpty(productNumber)) {
                                  <div class="tileHide prodNumber">
                                    @Translate("item", "Item #"): @productNumber
                                  </div>
                                }
                                 <form name="change" action="/Default.aspx" class="form-inline">                       
                                  <input type="hidden" name="ID" value="@pageId" />
                                  <input type="hidden" name="CCAddToMyLists" value="@productId" />
                                  <input type="hidden" name="CCAddToListVariantID" value="@productVariantId" />
                                  <input type="hidden" name="CCAddToListLanguageID" value="@productLanguageID"/>



                                  <select name="CCAddToListID">
                                    <option readonly value="">@Translate("moveToList", "Move to another list")</option>
                                    @RenderSnippet("Lists")
                                  </select>
                                
                                  <a class="removeFromList btn btn-default" style="margin: 0; line-height: 32px;padding: 0 0.5em; display: inline-block; margin-left: 0.3em;" href="@removeFromList">@Translate("removeFromList", "Remove from this list")</a>
                                </form>
                              </div>
                            </div>
                          
                           
                          </div>
                            <div class="col-xs-2"></div>
                          <div class="col-xs-5 priceContainer">
                            <form name="addToCart" action="/Default.aspx" method="post" class="form-inline">
                              
                              <input type="hidden" name="cartcmd" value="add" />


                              <input type="hidden" name='ProductLoopCounter@(row)' value="@row">                                                                
                              <input type="hidden" name='ProductID@(row)' value='@productId' />
                              <input type="hidden" name='VariantID@(row)' value='@productVariantId' />
                              <input type="hidden" name='UnitID@(row)'  value="" />
            
                              <span class="listPrice" itemprop="price"><span class="showTile">@Translate("price", "Price"): </span>@product.GetString("Ecom:Product.Price")</span>
                              <div class="form-group form-inline favorite-quantity-wrapper">                        
                                <input type="text" name="Quantity@(row)" value="@productQuantity" class="form-control wishlist-quantity" />
                                <a href="#" class="favorite-update-quantity" data-list-id='@product.GetString("Ecom:CustomerCenter.ListTypes.List.ID")' title="Update the quantity stored in your favorites list"><i class="fa fa-refresh"></i></a>
                                <button type="button" name="CartCmd" data-product-id="@productId" class="favorite-add-line btn btn-success" data-message="@Translate("The product has been added to the cart.","The product has been added to the cart.")">@Translate("addToCart", "Add to cart")</button>
                              </div>
                             
                             
                              

                             @*  <input class="hide" type="submit" value="@Translate("addToCart", "Add to cart")"> *@
                            </form>

                           

                            
                          </div>
                        </div>
                        
                      
                    </div>
          

                row++;
              }
          }


        }

      </div>
    </div>
   @SnippetStart("RightButtons")
      <button type="button" class="btn btn-success pull-right" data-action="add-entire-list">Add Entire List to Cart</button>
      <button type="button" class="btn btn-print pull-right" data-role="print"><i class="fa fa-print"></i> Print</button>
  @SnippetEnd("RightButtons")
  }
  else
  {
    <div class="noFavorites col-xs-12 noPadding">
      @Translate("noFavoritesFound", "No favorites found.")
    </div>
  }
}

<div id="addAllToCart">
  <form action="" method="POST"></form>
</div>


@SnippetStart("jsOnLoad")
  onLoadWishList("@type");
@SnippetEnd("jsOnLoad")























